
crash-reports/

ESM/

gtceu/

logs/

*chesttracker/

local/

saves/

screenshots/

xaero/

XaeroWaypoints_BACKUP240807/

modernfix/

simplebackups/

fancymenu_data/

.curseclient

emi.json

generateLang.js

GT Beyond The Stars

minecraftinstance.json

options.txt

patchouli_data.json

rhino.local.properties

TrashSlotSaveState.json

usercache.json

user-prefs.json

usernamecache.json
*.zip
config/oculus.properties
/journeymap
config/oculus.properties
config/embeddium-options.json
config/embeddium-mixins.properties
config/embeddium-fingerprint.json
config/fml.toml

.probe
/kubejs/**/jsconfig.json
/kubejs/config/probe-settings.json
**/node_modules
.vscode/probe.code-snippets
user-prefs.json
user-prefs.json
kubejs/config/probejs.json
*vscode*


/config/spark/tmp
config/aether-client.toml
/chesttracker
/chesttracker
/config

# TEST ONLY: command bridge work files (kubejs/server_scripts/tcon/test_bridge.js)
kubejs/bridge/
